.Tilt {
  background: linear-gradient(to right, rgb(153, 172, 83), rgb(59, 108, 244));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Tilt-inner {
  padding: 15px;
}

.Tilt-inner img {
  padding-top: 5px;
}
